In [1]:
import pandas as pd
import pandasql

In [2]:
pip install oauth2client gspread

Requirement already satisfied: oauth2client in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (4.1.3)
Requirement already satisfied: gspread in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (4.0.1)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from gspread) (1.32.1)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from gspread) (0.4.4)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.2.8)
Requirement already satisfied: httplib2>=0.9.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.19.1)
Requirement already satisfied: rsa>=3.1.4 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (4.7.2)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.4.8)
Requirement already satisfied: six>=1.6.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from google-auth>=1.12.0->gspread) (49.2.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from google-auth>=1.12.0->gspread) (4.2.2)
Requirement already satisfied: rsa>=3.1.4 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (4.7.2)
Requirement already satisfied: six>=1.6.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from gspread) (1.32.1)
Requirement already satisfied: pyparsing<3,>=2.4.2 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from httplib2>=0.9.1->oauth2client) (2.4.7)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.25.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.2)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.4.8)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.3.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\personal\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
url = 'https://docs.google.com/spreadsheets/d/11r8kAoHJPn1HkanR_CqynzqbQIJ1dn1hI-USnTWCTLg/edit?usp=sharing'

In [23]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread

scope = ['https://www.googleapis.com/auth/spreadsheets']
credentials = ServiceAccountCredentials.from_json_keyfile_name('light-field-305907-45186846c91a.json', scope)
client = gspread.authorize(credentials)
sheet = client.open_by_url(url)
worksheet = sheet.get_worksheet(0)
results = worksheet.get_all_records()

In [24]:
result_df = pd.DataFrame(results)

In [25]:
result_df.columns

Index(['‡∏Å‡πà‡∏≠‡∏ô‡∏≠‡∏∑‡πà‡∏ô.. ‡πÇ‡∏õ‡∏£‡∏î‡∏£‡∏∞‡∏ö‡∏∏‡πÄ‡∏û‡∏®‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì', '‡∏ä‡πà‡∏ß‡∏á‡∏≠‡∏≤‡∏¢‡∏∏‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì', '‡∏£‡∏∞‡∏î‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì',
       '‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏≠‡∏≤‡∏ä‡∏µ‡∏û‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏∏‡∏ì', '‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏Ñ‡∏∏‡∏ì‡∏ó‡∏µ‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏≠‡∏¢‡∏π‡πà',
       '‡∏Ñ‡∏∏‡∏ì‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏à‡∏≤‡∏Å‡∏ß‡∏¥‡∏Å‡∏§‡∏ï‡∏¥ COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?',
       '‡∏Ñ‡∏∏‡∏ì‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÅ‡∏õ‡∏•‡∏á‡πÉ‡∏ô‡∏™‡∏±‡∏á‡∏Ñ‡∏°‡πÑ‡∏ó‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?',
       '‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏´‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡∏ï‡πà‡∏≤‡∏á ‡πÜ ‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡πà‡∏≤‡∏á‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á? (‡∏Å‡∏£‡∏∏‡∏ì‡∏≤‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏î‡πâ‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à)',
       '‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)',
       '‡∏£‡∏∞‡∏ö‡∏∏‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏´‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÑ‡∏õ‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á*',
       '‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à / ‡∏õ‡∏≤‡∏Å‡∏ó‡πâ‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)',
       '‡∏£‡∏∞‡∏ö‡∏∏‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏´‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÑ‡∏õ‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à / ‡∏õ‡∏≤‡∏Å‡∏ó‡πâ‡∏≠‡∏á*',
       '‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)',
       '‡∏£‡∏∞‡∏ö‡∏∏‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏´‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÑ‡∏õ‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°*',
       '‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)',
       '‡∏£‡∏∞‡∏ö‡∏∏‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏´‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÑ‡∏õ‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤*',
       '‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)',
       '‡∏£‡∏∞‡∏ö‡∏∏‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏´‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÑ‡∏õ‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û*',
       '‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)',
       '‡∏£‡∏∞‡∏ö‡∏∏‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏´‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÑ‡∏õ‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï*',
       '‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡∏≠‡∏∑‡πà‡∏ô ‡πÜ (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)',
       '‡∏£‡∏∞‡∏ö‡∏∏‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏≤‡∏Å‡πÄ‡∏´‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÑ‡∏õ‡∏´‡∏£‡∏∑‡∏≠‡∏õ‡∏£‡∏±‡∏ö‡∏õ‡∏£‡∏∏‡∏á‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏≠‡∏∑‡πà‡∏ô ‡πÜ* (‡πÇ‡∏õ‡∏£‡∏î‡∏£‡∏∞‡∏ö‡∏∏)',
       '‡∏Ñ‡∏∏‡∏ì‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£‡πÅ‡∏™‡∏î‡∏á‡∏Ñ‡∏ß‡∏≤‡∏°‡∏Ñ‡∏¥‡∏î‡πÄ‡∏´‡πá‡∏ô‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡∏≠‡∏∑‡πà‡∏ô ‡πÜ ‡πÄ‡∏û‡∏¥‡πà‡∏°‡πÄ‡∏ï‡∏¥‡∏°‡∏≠‡∏µ‡∏Å‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà?\n*‡∏´‡∏≤‡∏Å‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£ ‡πÇ‡∏õ‡∏£‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏î‡πâ‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡∏Ñ‡∏∏‡∏ì‡∏™‡∏ô‡πÉ‡∏à‡πÄ‡∏û‡∏¥‡πà‡∏°‡πÄ‡∏ï‡∏¥‡∏°* \n*‡∏´‡∏≤‡∏Å‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£ ‡πÇ‡∏õ‡∏£‡∏î‡∏ï‡∏≠‡∏ö‡∏Ç‡πâ‡∏≠‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£*',
       '‡∏Ñ‡∏∏‡∏ì‡∏Ñ‡∏¥‡∏î‡∏ß‡πà‡∏≤‡∏™‡∏±‡∏á‡∏Ñ‡∏°‡πÑ‡∏ó‡∏¢‡∏Ñ‡∏ß‡∏£‡∏°‡∏µ‡∏Å‡∏ï‡∏¥‡∏Å‡∏≤‡∏™‡∏±‡∏á‡∏Ñ‡∏°‡πÅ‡∏ö‡∏ö‡πÑ‡∏´‡∏ô‡∏ó‡∏µ‡πà‡∏à‡∏∞‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏£‡∏≤‡∏≠‡∏¢‡∏π‡πà‡∏£‡πà‡∏ß‡∏°‡∏Å‡∏±‡∏ô‡πÑ‡∏î‡πâ ‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å‡∏ú‡πà‡∏≤‡∏ô‡∏û‡πâ‡∏ô‡∏ß‡∏¥‡∏Å‡∏§‡∏ï‡∏¥ COVID-19?'],
      dtype='object')

In [26]:
q1 = 'sum([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])/count(*) as q1'
q2 = 'sum([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à / ‡∏õ‡∏≤‡∏Å‡∏ó‡πâ‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])/count(*) as q2'
q3 = 'sum([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])/count(*) as q3'
q4 = 'sum([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])/count(*) as q4'
q5 = 'sum([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])/count(*) as q5'
q6 = 'sum([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])/count(*) as q6'
q7 = 'sum([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡∏≠‡∏∑‡πà‡∏ô ‡πÜ (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])/count(*) as q7'

In [27]:
sql = "select [‡∏Ñ‡∏∏‡∏ì‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏à‡∏≤‡∏Å‡∏ß‡∏¥‡∏Å‡∏§‡∏ï‡∏¥ COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?], %s, %s, %s, %s, %s, %s, %s from result_df " % (q1, q2, q3, q4, q5, q6, q7)

In [28]:
sum_report =  pandasql.sqldf(sql)

sum_report.head(20)

,‡∏Ñ‡∏∏‡∏ì‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏à‡∏≤‡∏Å‡∏ß‡∏¥‡∏Å‡∏§‡∏ï‡∏¥ COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?,q1,q2,q3,q4,q5,q6,q7
0,üí∏ ‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à,0.413502,0.683544,0.240506,0.409283,0.312236,0.257384,0.0

In [29]:
sum_report['sum'] = sum_report.sum(axis=1)

In [30]:
sum_report.head(20)

,‡∏Ñ‡∏∏‡∏ì‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏à‡∏≤‡∏Å‡∏ß‡∏¥‡∏Å‡∏§‡∏ï‡∏¥ COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?,q1,q2,q3,q4,q5,q6,q7,sum
0,üí∏ ‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à,0.413502,0.683544,0.240506,0.409283,0.312236,0.257384,0.0,2.316456

In [31]:
qdf =  pandasql.sqldf("select * from sum_report order by sum desc")

qdf.head(20)

,‡∏Ñ‡∏∏‡∏ì‡πÑ‡∏î‡πâ‡∏£‡∏±‡∏ö‡∏ú‡∏•‡∏Å‡∏£‡∏∞‡∏ó‡∏ö‡∏à‡∏≤‡∏Å‡∏ß‡∏¥‡∏Å‡∏§‡∏ï‡∏¥ COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?,q1,q2,q3,q4,q5,q6,q7,sum
0,üí∏ ‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à,0.413502,0.683544,0.240506,0.409283,0.312236,0.257384,0.0,2.316456

In [32]:
qdf.to_csv('score.csv', encoding='utf8', index=False)

In [108]:
r1= '[‡∏Ñ‡∏∏‡∏ì‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÅ‡∏õ‡∏•‡∏á‡πÉ‡∏ô‡∏™‡∏±‡∏á‡∏Ñ‡∏°‡πÑ‡∏ó‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?] as ‡∏î‡πâ‡∏≤‡∏ô'
r2= 'count([‡∏Ñ‡∏∏‡∏ì‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÅ‡∏õ‡∏•‡∏á‡πÉ‡∏ô‡∏™‡∏±‡∏á‡∏Ñ‡∏°‡πÑ‡∏ó‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?])*100/237 as ‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå'
r3='count([‡∏Ñ‡∏∏‡∏ì‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÅ‡∏õ‡∏•‡∏á‡πÉ‡∏ô‡∏™‡∏±‡∏á‡∏Ñ‡∏°‡πÑ‡∏ó‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?])as ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô'

In [109]:
sql = "select %s, %s, %s from result_df group by [‡∏Ñ‡∏∏‡∏ì‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏´‡πâ‡πÄ‡∏Å‡∏¥‡∏î‡∏Å‡∏≤‡∏£‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡πÅ‡∏õ‡∏•‡∏á‡πÉ‡∏ô‡∏™‡∏±‡∏á‡∏Ñ‡∏°‡πÑ‡∏ó‡∏¢‡∏´‡∏•‡∏±‡∏á‡∏ß‡∏¥‡∏Å‡∏§‡∏ï COVID-19 ‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô‡πÉ‡∏î‡∏°‡∏≤‡∏Å‡∏ó‡∏µ‡πà‡∏™‡∏∏‡∏î?]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)

              ‡∏î‡πâ‡∏≤‡∏ô  ‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå  ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô
0   üçÉ  ‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°            2      6
1  üë®üèª‚Äç‚öñÔ∏è  ‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á           27     64
2    üë©üèª‚Äçüéì ‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤            5     14
3        üíä  ‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û            5     12
4      üí∏  ‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à           49    118
5      üö≤ ‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï            9     23

In [110]:
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)

              ‡∏î‡πâ‡∏≤‡∏ô  ‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå  ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô
0   üçÉ  ‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°            2      6
1  üë®üèª‚Äç‚öñÔ∏è  ‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á           27     64
2    üë©üèª‚Äçüéì ‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤            5     14
3        üíä  ‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û            5     12
4      üí∏  ‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à           49    118
5      üö≤ ‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï            9     23

In [111]:
qdf.to_csv('score1.csv', encoding='utf8', index=False)

In [112]:
r1= '[‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)] as ‡∏î‡πâ‡∏≤‡∏ô'
r2='count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])as ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô'
r3= 'count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])*100/237 as ‡∏Ñ‡∏¥‡∏î‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå'

In [113]:
sql = "select %s, %s, %s from result_df group by [‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡πÄ‡∏°‡∏∑‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)

  ‡∏î‡πâ‡∏≤‡∏ô  ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô  ‡∏Ñ‡∏¥‡∏î‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå
0         203                  85
1    1     12                   5
2    2      6                   2
3    3      5                   2
4    4      2                   0
5    5      6                   2
6    6      1                   0
7    7      1                   0
8    8      1                   0

In [114]:
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score2.csv', encoding='utf8', index=False)

In [120]:
r1= '[‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à / ‡∏õ‡∏≤‡∏Å‡∏ó‡πâ‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)] as ‡∏î‡πâ‡∏≤‡∏ô'
r2='count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à / ‡∏õ‡∏≤‡∏Å‡∏ó‡πâ‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])as ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô'
r3= 'count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à / ‡∏õ‡∏≤‡∏Å‡∏ó‡πâ‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])*100/237 as ‡∏Ñ‡∏¥‡∏î‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå'
sql = "select %s, %s, %s from result_df group by [‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡πÄ‡∏®‡∏£‡∏©‡∏ê‡∏Å‡∏¥‡∏à / ‡∏õ‡∏≤‡∏Å‡∏ó‡πâ‡∏≠‡∏á* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score3.csv', encoding='utf8', index=False)

In [121]:
r1= '[‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)] as ‡∏î‡πâ‡∏≤‡∏ô'
r2='count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])as ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô'
r3= 'count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])*100/237 as ‡∏Ñ‡∏¥‡∏î‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå'
sql = "select %s, %s, %s from result_df group by [‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏¥‡πà‡∏á‡πÅ‡∏ß‡∏î‡∏•‡πâ‡∏≠‡∏°* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score4.csv', encoding='utf8', index=False)

In [122]:
r1= '[‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)] as ‡∏î‡πâ‡∏≤‡∏ô'
r2='count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])as ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô'
r3= 'count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])*100/237 as ‡∏Ñ‡∏¥‡∏î‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå'
sql = "select %s, %s, %s from result_df group by [‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏Å‡∏≤‡∏£‡∏®‡∏∂‡∏Å‡∏©‡∏≤* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score5.csv', encoding='utf8', index=False)

In [123]:
r1= '[‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)] as ‡∏î‡πâ‡∏≤‡∏ô'
r2='count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])as ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô'
r3= 'count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])*100/237 as ‡∏Ñ‡∏¥‡∏î‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå'
sql = "select %s, %s, %s from result_df group by [‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score6.csv', encoding='utf8', index=False)

In [124]:
r1= '[‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)] as ‡∏î‡πâ‡∏≤‡∏ô'
r2='count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])as ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô'
r3= 'count([‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)])*100/237 as ‡∏Ñ‡∏¥‡∏î‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏õ‡∏≠‡∏£‡πå‡πÄ‡∏ã‡πá‡∏ô‡∏ï‡πå'
sql = "select %s, %s, %s from result_df group by [‡πÉ‡∏´‡πâ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡πÄ‡∏õ‡πá‡∏ô‡∏≠‡∏¢‡∏π‡πà‡πÄ‡∏î‡∏¥‡∏°‡πÉ‡∏ô‡∏î‡πâ‡∏≤‡∏ô*‡∏ß‡∏¥‡∏ñ‡∏µ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï* (‡πÄ‡∏ï‡πá‡∏° 10 ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score7.csv', encoding='utf8', index=False)