In [1]:
import pandas as pd
import pandasql

In [2]:
pip install oauth2client gspread

Requirement already satisfied: oauth2client in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (4.1.3)
Requirement already satisfied: gspread in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (4.0.1)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from gspread) (1.32.1)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from gspread) (0.4.4)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.2.8)
Requirement already satisfied: httplib2>=0.9.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.19.1)
Requirement already satisfied: rsa>=3.1.4 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (4.7.2)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.4.8)
Requirement already satisfied: six>=1.6.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from google-auth>=1.12.0->gspread) (49.2.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from google-auth>=1.12.0->gspread) (4.2.2)
Requirement already satisfied: rsa>=3.1.4 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (4.7.2)
Requirement already satisfied: six>=1.6.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from gspread) (1.32.1)
Requirement already satisfied: pyparsing<3,>=2.4.2 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from httplib2>=0.9.1->oauth2client) (2.4.7)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.25.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.2)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\personal\appdata\local\programs\python\python39\lib\site-packages (from oauth2client) (0.4.8)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.3.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\personal\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
url = 'https://docs.google.com/spreadsheets/d/11r8kAoHJPn1HkanR_CqynzqbQIJ1dn1hI-USnTWCTLg/edit?usp=sharing'

In [23]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread

scope = ['https://www.googleapis.com/auth/spreadsheets']
credentials = ServiceAccountCredentials.from_json_keyfile_name('light-field-305907-45186846c91a.json', scope)
client = gspread.authorize(credentials)
sheet = client.open_by_url(url)
worksheet = sheet.get_worksheet(0)
results = worksheet.get_all_records()

In [24]:
result_df = pd.DataFrame(results)

In [25]:
result_df.columns

Index(['ก่อนอื่น.. โปรดระบุเพศของคุณ', 'ช่วงอายุของคุณ', 'ระดับการศึกษาของคุณ',
       'กลุ่มอาชีพของคุณ', 'จังหวัดคุณที่อาศัยอยู่',
       'คุณได้รับผลกระทบจากวิกฤติ COVID-19 ในด้านใดมากที่สุด?',
       'คุณอยากให้เกิดการเปลี่ยนแปลงในสังคมไทยหลังวิกฤต COVID-19 ในด้านใดมากที่สุด?',
       'อยากเห็นประเทศไทยหลังวิกฤต COVID-19 ในด้านต่าง ๆ เป็นอย่างไรบ้าง? (กรุณาเลือกด้านที่สนใจ)',
       'ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การเมือง* (เต็ม 10 คะแนน)',
       'ระบุสิ่งที่อยากเห็นประเทศไทยเปลี่ยนไปหรือปรับปรุงหลังวิกฤต COVID-19 ในด้าน*การเมือง*',
       'ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*เศรษฐกิจ / ปากท้อง* (เต็ม 10 คะแนน)',
       'ระบุสิ่งที่อยากเห็นประเทศไทยเปลี่ยนไปหรือปรับปรุงหลังวิกฤต COVID-19 ในด้าน*เศรษฐกิจ / ปากท้อง*',
       'ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สิ่งแวดล้อม* (เต็ม 10 คะแนน)',
       'ระบุสิ่งที่อยากเห็นประเทศไทยเปลี่ยนไปหรือปรับปรุงหลังวิกฤต COVID-19 ในด้าน*สิ่งแวดล้อม*',
       'ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การศึกษา* (เต็ม 10 คะแนน)',
       'ระบุสิ่งที่อยากเห็นประเทศไทยเปลี่ยนไปหรือปรับปรุงหลังวิกฤต COVID-19 ในด้าน*การศึกษา*',
       'ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สุขภาพ* (เต็ม 10 คะแนน)',
       'ระบุสิ่งที่อยากเห็นประเทศไทยเปลี่ยนไปหรือปรับปรุงหลังวิกฤต COVID-19 ในด้าน*สุขภาพ*',
       'ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*วิถีชีวิต* (เต็ม 10 คะแนน)',
       'ระบุสิ่งที่อยากเห็นประเทศไทยเปลี่ยนไปหรือปรับปรุงหลังวิกฤต COVID-19 ในด้าน*วิถีชีวิต*',
       'ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้านอื่น ๆ (เต็ม 10 คะแนน)',
       'ระบุสิ่งที่อยากเห็นประเทศไทยเปลี่ยนไปหรือปรับปรุงหลังวิกฤต COVID-19 ในด้าน*อื่น ๆ* (โปรดระบุ)',
       'คุณต้องการแสดงความคิดเห็นในด้านอื่น ๆ เพิ่มเติมอีกหรือไม่?\n*หากต้องการ โปรดเลือกด้านที่คุณสนใจเพิ่มเติม* \n*หากไม่ต้องการ โปรดตอบข้อไม่ต้องการ*',
       'คุณคิดว่าสังคมไทยควรมีกติกาสังคมแบบไหนที่จะทำให้เราอยู่ร่วมกันได้ หลังจากผ่านพ้นวิกฤติ COVID-19?'],
      dtype='object')

In [26]:
q1 = 'sum([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การเมือง* (เต็ม 10 คะแนน)])/count(*) as q1'
q2 = 'sum([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*เศรษฐกิจ / ปากท้อง* (เต็ม 10 คะแนน)])/count(*) as q2'
q3 = 'sum([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สิ่งแวดล้อม* (เต็ม 10 คะแนน)])/count(*) as q3'
q4 = 'sum([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การศึกษา* (เต็ม 10 คะแนน)])/count(*) as q4'
q5 = 'sum([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สุขภาพ* (เต็ม 10 คะแนน)])/count(*) as q5'
q6 = 'sum([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*วิถีชีวิต* (เต็ม 10 คะแนน)])/count(*) as q6'
q7 = 'sum([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้านอื่น ๆ (เต็ม 10 คะแนน)])/count(*) as q7'

In [27]:
sql = "select [คุณได้รับผลกระทบจากวิกฤติ COVID-19 ในด้านใดมากที่สุด?], %s, %s, %s, %s, %s, %s, %s from result_df " % (q1, q2, q3, q4, q5, q6, q7)

In [28]:
sum_report =  pandasql.sqldf(sql)

sum_report.head(20)

,คุณได้รับผลกระทบจากวิกฤติ COVID-19 ในด้านใดมากที่สุด?,q1,q2,q3,q4,q5,q6,q7
0,💸 เศรษฐกิจ,0.413502,0.683544,0.240506,0.409283,0.312236,0.257384,0.0

In [29]:
sum_report['sum'] = sum_report.sum(axis=1)

In [30]:
sum_report.head(20)

,คุณได้รับผลกระทบจากวิกฤติ COVID-19 ในด้านใดมากที่สุด?,q1,q2,q3,q4,q5,q6,q7,sum
0,💸 เศรษฐกิจ,0.413502,0.683544,0.240506,0.409283,0.312236,0.257384,0.0,2.316456

In [31]:
qdf =  pandasql.sqldf("select * from sum_report order by sum desc")

qdf.head(20)

,คุณได้รับผลกระทบจากวิกฤติ COVID-19 ในด้านใดมากที่สุด?,q1,q2,q3,q4,q5,q6,q7,sum
0,💸 เศรษฐกิจ,0.413502,0.683544,0.240506,0.409283,0.312236,0.257384,0.0,2.316456

In [32]:
qdf.to_csv('score.csv', encoding='utf8', index=False)

In [108]:
r1= '[คุณอยากให้เกิดการเปลี่ยนแปลงในสังคมไทยหลังวิกฤต COVID-19 ในด้านใดมากที่สุด?] as ด้าน'
r2= 'count([คุณอยากให้เกิดการเปลี่ยนแปลงในสังคมไทยหลังวิกฤต COVID-19 ในด้านใดมากที่สุด?])*100/237 as เปอร์เซ็นต์'
r3='count([คุณอยากให้เกิดการเปลี่ยนแปลงในสังคมไทยหลังวิกฤต COVID-19 ในด้านใดมากที่สุด?])as จำนวน'

In [109]:
sql = "select %s, %s, %s from result_df group by [คุณอยากให้เกิดการเปลี่ยนแปลงในสังคมไทยหลังวิกฤต COVID-19 ในด้านใดมากที่สุด?]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)

              ด้าน  เปอร์เซ็นต์  จำนวน
0   🍃  สิ่งแวดล้อม            2      6
1  👨🏻‍⚖️  การเมือง           27     64
2    👩🏻‍🎓 การศึกษา            5     14
3        💊  สุขภาพ            5     12
4      💸  เศรษฐกิจ           49    118
5      🚲 วิถีชีวิต            9     23

In [110]:
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)

              ด้าน  เปอร์เซ็นต์  จำนวน
0   🍃  สิ่งแวดล้อม            2      6
1  👨🏻‍⚖️  การเมือง           27     64
2    👩🏻‍🎓 การศึกษา            5     14
3        💊  สุขภาพ            5     12
4      💸  เศรษฐกิจ           49    118
5      🚲 วิถีชีวิต            9     23

In [111]:
qdf.to_csv('score1.csv', encoding='utf8', index=False)

In [112]:
r1= '[ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การเมือง* (เต็ม 10 คะแนน)] as ด้าน'
r2='count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การเมือง* (เต็ม 10 คะแนน)])as จำนวน'
r3= 'count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การเมือง* (เต็ม 10 คะแนน)])*100/237 as คิดเป็นเปอร์เซ็นต์'

In [113]:
sql = "select %s, %s, %s from result_df group by [ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การเมือง* (เต็ม 10 คะแนน)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)

  ด้าน  จำนวน  คิดเป็นเปอร์เซ็นต์
0         203                  85
1    1     12                   5
2    2      6                   2
3    3      5                   2
4    4      2                   0
5    5      6                   2
6    6      1                   0
7    7      1                   0
8    8      1                   0

In [114]:
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score2.csv', encoding='utf8', index=False)

In [120]:
r1= '[ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*เศรษฐกิจ / ปากท้อง* (เต็ม 10 คะแนน)] as ด้าน'
r2='count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*เศรษฐกิจ / ปากท้อง* (เต็ม 10 คะแนน)])as จำนวน'
r3= 'count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*เศรษฐกิจ / ปากท้อง* (เต็ม 10 คะแนน)])*100/237 as คิดเป็นเปอร์เซ็นต์'
sql = "select %s, %s, %s from result_df group by [ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*เศรษฐกิจ / ปากท้อง* (เต็ม 10 คะแนน)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score3.csv', encoding='utf8', index=False)

In [121]:
r1= '[ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สิ่งแวดล้อม* (เต็ม 10 คะแนน)] as ด้าน'
r2='count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สิ่งแวดล้อม* (เต็ม 10 คะแนน)])as จำนวน'
r3= 'count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สิ่งแวดล้อม* (เต็ม 10 คะแนน)])*100/237 as คิดเป็นเปอร์เซ็นต์'
sql = "select %s, %s, %s from result_df group by [ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สิ่งแวดล้อม* (เต็ม 10 คะแนน)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score4.csv', encoding='utf8', index=False)

In [122]:
r1= '[ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การศึกษา* (เต็ม 10 คะแนน)] as ด้าน'
r2='count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การศึกษา* (เต็ม 10 คะแนน)])as จำนวน'
r3= 'count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การศึกษา* (เต็ม 10 คะแนน)])*100/237 as คิดเป็นเปอร์เซ็นต์'
sql = "select %s, %s, %s from result_df group by [ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*การศึกษา* (เต็ม 10 คะแนน)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score5.csv', encoding='utf8', index=False)

In [123]:
r1= '[ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สุขภาพ* (เต็ม 10 คะแนน)] as ด้าน'
r2='count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สุขภาพ* (เต็ม 10 คะแนน)])as จำนวน'
r3= 'count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สุขภาพ* (เต็ม 10 คะแนน)])*100/237 as คิดเป็นเปอร์เซ็นต์'
sql = "select %s, %s, %s from result_df group by [ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*สุขภาพ* (เต็ม 10 คะแนน)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score6.csv', encoding='utf8', index=False)

In [124]:
r1= '[ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*วิถีชีวิต* (เต็ม 10 คะแนน)] as ด้าน'
r2='count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*วิถีชีวิต* (เต็ม 10 คะแนน)])as จำนวน'
r3= 'count([ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*วิถีชีวิต* (เต็ม 10 คะแนน)])*100/237 as คิดเป็นเปอร์เซ็นต์'
sql = "select %s, %s, %s from result_df group by [ให้คะแนนสิ่งที่ประเทศไทยเป็นอยู่เดิมในด้าน*วิถีชีวิต* (เต็ม 10 คะแนน)]" % (r1, r2, r3)
sum_report =  pandasql.sqldf(sql)
sum_report.head(10)
qdf =  pandasql.sqldf("select * from sum_report")
qdf.head(20)
qdf.to_csv('score7.csv', encoding='utf8', index=False)